@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&amp;subset=cyrillic,latin-ext');

/* ----------------------- */
/* App Components */
/* ----------------------- */

.App{
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background-image: url("img/DLA_Background_Navy.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}

.App-footer{
  align-items: center;
  background-color: #7d7d7d;
  color: #e0e0e0;
  padding: 2vmin;
  margin-top: 5vmin;
}

.App-header,
.App-footer {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(12px + .5vmin);
}

h1{
  font-size: calc(20px + 1.5vmin);
}

hr{
  width: 80%;
}

a:hover{
  text-decoration: none;
  color: gray;
  transition: 0.1s ease-in;
}

.container{
  min-height: 100vh;
}

.App-main{
  padding: 5vh;
  background:#f9f9f9;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 5vmin auto;
  border-radius: 10px;
}

/* ----------------------- */
/* Footer */
/* ----------------------- */

.footer-grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-grid-container p {
  transform: translateY(60%);
}

.footer-branding-image{
  margin: 2vmin;
}

 /* ----------------------- */
/* Associate */
/* ----------------------- */

.name-text-wrapper{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.associate-grid-container{
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    row-gap: 2em;
    column-gap: 5em;
  }

.assoc-info-header{
  font-size: calc(11.8px + .5vh);
}
.assoc-info-text{
  font-size: calc(10px + .5vh);
}

.assoc-info {
  display: block;
  padding-left: 0;
  background-color: transparent;
}

.associate-photo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 15% 0;
}

.associate-photo-custom-thumbnail{
  border-radius: 50%;
  border-radius: 50%;
  border: 3px solid  #e0e0e0;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  display: inline-block;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #16253f;
  width: 240px;
  height: 240px;
}

 /* ----------------------- */
/* Filter */
/* ----------------------- */

.filter-grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

 /* ----------------------- */
/* Media */
/* ----------------------- */

.media{
  max-width: 240px;
  min-width: 240px;
  margin:0;
}

.media-header-wrapper{
  text-align: center;
  margin-bottom: 3vmin;
}

.media-body{
  width:100%;
}

.media-wrapper{
  padding: 3vmin 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}

 /* ----------------------- */
/* Bio */
/* ----------------------- */

#bio-section{
  max-height: 20vmin;
  font-size: calc(11px + .5vmin);
  white-space: pre-wrap;
  overflow-y: auto;
}

#bio-header, 
#bio-section{
  margin: 3vmin 0;
}

/* ----------------------- */
/* Welcome */
/* ----------------------- */

.welcome-container{
  text-align: center;
  padding: 0 10%;
}

/* ----------------------- */
/* Buttons */
/* ----------------------- */

.directory-button-container{
  text-align: center;
}

.directory-nav-button{
  display: inline-block;
  margin: 3vmin;
  min-width: 100px;
}
.btn-primary{
  max-height: 38px;
}

/* ----------------------- */
/* Nav */
/* ----------------------- */

.navbar{
  min-height: 5vh;
}

.nav-link{
  display: inline;
}

.nav-item{
  margin: 0 3vmin;
}

.nav-item a{
  color: #212529;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

.brand-header{
  font-size: calc(10px + 1.5vmin);
  color: #212529;
}

.nav-option:hover{
  color:#7d7d7d;
}

.dropdown-toggle .nav-link:hover{
  color: #16253f;
}

.dropdown-option:hover{
  background-color:#7d7d7d;
}

.dropdown-option:hover{
  color:white;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

 /* ----------------------- */
/* Office */
/* ----------------------- */

#office-modal-btn{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#office-select{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

 /* ----------------------- */
/* Auto Suggest */
/* ----------------------- */

.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__suggestion{
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}
.react-autosuggest__input {
  height: 38px;
  width: 40vw;
  padding: 10px 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  display: block;
  position: absolute;
  width: 40vw;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 1.5vmin 2vmin;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}