@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&amp;subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

/* ----------------------- */
/* App Components */
/* ----------------------- */

.App{
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background-image: url("img/DLA_Background_Navy.jpg");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}

.App-footer{
  align-items: center;
  background-color: #7d7d7d;
  color: #e0e0e0;
  padding: 2vmin;
  margin-top: 5vmin;
}

.App-header,
.App-footer {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(12px + .5vmin);
}

hr{
  clear:both;
  display:block;               
  height: 1px;
  width:40%;
}

h1{
  font-size: calc(20px + 1.5vmin);
}

a:hover{
  text-decoration: none;
  color: gray;
  transition: 0.2s ease-in;
}

.container{
  min-height: 100vh;
}

.App-filter{
  padding: 2vmin 3vmin;
  background:#f9f9f9;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 2vmin auto;
  border-radius: 10px;
}

.App-main{
  padding: 3vmin;
  padding-top: 5vmin;
  background:#f9f9f9;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 2vmin auto;
  border-radius: 10px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* ----------------------- */
/* Welcome Header */
/* ----------------------- */

#welcome-header{
  font-family: "Noto Serif";
}

.welcome-container p{
  font-size: calc(14px + .5vmin);
}

/* ----------------------- */
/* Footer */
/* ----------------------- */

.footer-grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-grid-container p {
  transform: translateY(60%);
}

.footer-branding-image{
  margin: 2vmin;
}

 /* ----------------------- */
/* Associate */
/* ----------------------- */

.associate-photo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center; 
  /* margin-top: 3vmin; */
}

.associate-media-wrapper{
  padding-top: 5vmin;
}
 
 .associate-top-container{
   min-height: 30vmin;
 }

.name-text-wrapper{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.assoc-info-header{
  font-size: calc(11.8px + .5vh);
  display: block;
}

.assoc-info-text{
  font-size: calc(10px + .5vh);
}

.assoc-info {
  display: block;
  padding-left: 0;
  background-color: transparent;
}

.associate-photo-custom-thumbnail{
  border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #16253f;
  width: 225px;
  height: 225px;
}

 /* ----------------------- */
/* Filter */
/* ----------------------- */

.filter-grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

 /* ----------------------- */
/* Bio */
/* ----------------------- */

#bio-section{
  max-height: 18vmin;
  min-height: 18vmin;
  font-size: calc(11px + .5vmin);
  white-space: pre-wrap;
  overflow-y: auto;
}

#bio-header, 
#bio-section{
  margin: 2vmin 0;
}

/* ----------------------- */
/* Welcome */
/* ----------------------- */

.welcome-container{
  text-align: center;
  padding: 0 10%;
}

/* ----------------------- */
/* Buttons */
/* ----------------------- */

.directory-button-container{
  text-align: center;
}

.directory-nav-button{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3vmin;
  margin-right: 3vmin;
  min-width: 100px;
}

/* ----------------------- */
/* Nav */
/* ----------------------- */

.navbar{
  min-height: 5vh;
  /* margin-bottom: 2vmin; */
}

.nav-link{
  display: inline;
}

.nav-item{
  margin: 0 3vmin;
}

.navbar-brand, 
.brand-text{
  color: white;
  font-size: calc(18px + .5vmin);
}

 /* ----------------------- */
/* Office */
/* ----------------------- */

#office-modal-btn{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#office-select{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.office-phone{
  margin-right: 1vmin;
}

 /* ----------------------- */
/* Auto Suggest */
/* ----------------------- */

.search-by-name{
  width: 100%;
}

.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__suggestion{
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.react-autosuggest__input {
  height: 38px;
  padding: 10px 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__input,
.react-autosuggest__suggestions-container--open{
  width: 50vmin;
}

.react-autosuggest__suggestions-container--open {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  display: block;
  position: absolute;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 1.5vmin 2vmin;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.view-all-app-filter{
  visibility: hidden;
}